@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.geral{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
}

.medias{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
}

.medias .recipe-image{
    max-height: 500px;
    border: 2px solid black;
    margin-right: 12px;
    }

.media .video{
    margin-right: 12px;
    border: 2px solid black;
}

.geral .dados {
    text-align:center;
    width: 50%;
    margin-bottom: 15px;

}

.div-button {
    display:flex;
    justify-content: center;
    width: 100%;
    height: 40px;
}

.div-button button{
    margin-top: 10px;
    width: 180px;
    border: none;
    border-radius: 30px;
    background-color: lightblue;
    align-self: center;
    height: 30px;
}